html {
  height: 100%;
}

body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  height: 100%;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

.container {
 width: 960px;
 margin: 0 auto;
 height: 100%;
}

.register {
  color: #1EBBA6;
  font-family: 'Lato', sans-serif;
  font-size: 56px;
  font-weight: 100;
  text-align: center;
  margin-top: 5%;
}

.form {
  text-align: center;
  margin-top: 10%;
}

.form-input {
  color: #36393D;
  font-family: 'Lato', sans-serif;
  font-weight:400;
  font-size: 18px;
  border-radius: 0;
  line-height: 22px;
  background-color: #fbfbfb;
  padding: 13px 13px 13px 5px;
  margin-bottom: 5px;
  width:50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border: 2px solid #1EBBA6;


  &:focus{
  background: #fff;
  box-shadow: 0;
  border: 2px solid #3498db;
  color: #36393D;
  outline: none;
  padding: 13px 13px 13px 5px;
  }
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}